 <div class="container"> 
  <form> 
   <select name='category_selector' id='category_selector'> 
      <% @categories.each do |category| %>
        <option class="category" value="<%= category.name %>"><%= category.name %></option>
      <% end %>
    </select>
  </form>
  
  <h1>Verbs</h1>
  <% @common_verbs.each do |verb| %>
    <div class="word" id="<%= verb.id %>"><%= verb.name %></div>
  <% end %>

  <h1>Joiner words</h1>
  <% @joiners.each do |joiner| %>
    <div class="word" id="<%= joiner.id %>"><%= joiner.name %></div>
  <% end %>
</div>