<!DOCTYPE html>
<html>
<head>
  <title>Magnetic Poetry</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="container">
  <nav>
    <span id="nav_title">Magnetic Poetry</span>

    <!-- AddThis Button BEGIN -->
      
      <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
        <a class="addthis_button_preferred_1"></a>
        <a class="addthis_button_preferred_2"></a>
        <a class="addthis_button_preferred_3"></a>
        <a class="addthis_button_preferred_4"></a>
        <a class="addthis_button_compact"></a>
        <a class="addthis_counter addthis_bubble_style"></a>
      </div>
      <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-537733a575fa2b09"></script>
       <!-- AddThis Button END -->
      <span id="share_text">Share your poem </span>
  </nav>
    
    <%= yield %>

  <script>
   
    var categories = <%== ActiveSupport::JSON.encode(Category.select(:id, :cat_type, :name)) %>;
    var categorised_words = <%== ActiveSupport::JSON.encode(@categories) %>;
    
  </script>
</div>
</body>
</html>
